@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  background: #272626;
  color: rgb(81, 228, 179);
}

h1 {
  /*font size*/
  font-size: 2rem;
  font-weight: 1000;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

h2 {
  /*font size*/
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 0.5rem;
}

img {
  /*all images same size*/
  /*align center*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

  width: 280px;
  height: 500px;
  object-fit: cover;
}

.booklist {
  /*grid for books*/
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1.5rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 600px) {
  .booklist {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

.book {
  /*book*/
  background: #2c2b2b;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
}

/*book on press*/
.book:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  transform: translateY(-0.5rem);
}

.header {
  /*header*/
  text-align: center;
  background: #2c2b2b;
  padding: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
}

.input {
  text-align: center;
}

.button {
  /*center x axis button*/
  display: block;
  margin-left: auto;
  margin-right: auto;

  /*oval button*/
  font-family: "Montserrat", sans-serif;
  color: #2c2b2b;
  border-radius: 5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: rgb(81, 228, 179);
  padding: 1rem;
  border: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

/*button on press*/
.button:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  transform: translateY(-0.5rem);
}
input {
  border-radius: 5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background: #2c2b2b;
  padding: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
  /*input text color*/
  color: rgb(81, 228, 179);
}
